*{
    margin: 10px;
    padding: 0px;
    box-sizing: border-box;
    
}

body {
    background: deepskyblue;
    color: white;
    font-family: Futura;
}

button{
    font-size: 1.5em;
    color:  #39FF14;
    font-family: cursive;
    font-weight: bold;
    border: 2px solid var(--accent-color);
    background: transparent;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}

button:hover{
    background: white;
    cursor: pointer;
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.button-link:hover {
    background-color: white;
}

body.dark {
  background: #333;
}

h1 {
    padding: 20px;
}

li { text-shadow: 0px 0px 10px blueviolet;
   } 

span{ 
    font-size: 50px;
}

.letter{
    text-shadow: 0px 0px 10px blueviolet;
}

#drop-cap{
    color:lightskyblue;
}