body {
    background: #ffdff8;
    color: #5e3b2e;
    font-family: Futura;
}

li { text-shadow: 0px 0px 10px coral;
   } 

span{ 
    font-size: 50px;
}

.letter{
    text-shadow: 0px 0px 10px palevioletred;
}

#drop-cap{
    color:royalblue;
}